body {
  background-color: #D5E1EF;
}
.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frame {
  width: 260px;
  height: 260px;
  border-radius: 15px;
  background: #ffff;
  margin: auto;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 170px;
  padding-left: 15px;
}

img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

h1{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  color: hsl(218, 44%, 22%)
}
p{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%)
  
}